# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# dotenv files
.env
.env.*

# IDE/editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.
